body {
    background: black;
    border-top: 10px solid red;
    color: white;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    padding-top: 0;
    text-align: center;
}

#content {
    margin: 0 auto;
    width: 50%;
}

#special-event {
    background: red;
    margin: 0 0 50px;
    padding: 20px;
}

#special-event p {
    margin: 0;
    padding: 0;
}

#special-event a {
    color: #fff;
    font-weight: bold;
}

.display {
    font-size: 5em;
}

.lead {
    color: #aaa;
    font-family: Georgia, serif;
    font-size: 1.5em;
    padding: 5px 0;
}

section {
    border: 1px solid #333;
    margin-top: 2em;
    padding: 25px;
}

section h1 {
    font-size: 2em;
    font-style: normal;
}

.meetup-event-intro {
    color: red;
    font-size: 1.2em;
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: lowercase;
}

.meetup-description {
    font-family: Georgia, serif;
}

.btn {
    background: red;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

time, .address {
    color: palegoldenrod;
    font-weight: bold;
}

.address {
    display: inline-block;
}

a {
    color: #999;
    text-decoration: underline;
}

a:hover {
    color: white;
}

footer {
    color: #999;
    margin-top: 2em;
}

@media only screen and (max-width: 1120px) {
    #content {
        width: 75%;
    }

    .display {
        font-size: 4em;
    }
}

@media only screen and (max-width: 800px) {
    .display {
        font-size: 3em;
    }
}

@media only screen and (max-width: 600px) {
    .display {
        font-size: 2.5em;
    }

    .lead {
        font-size: 1em;
        padding: 0;
    }

    section h1 {
        font-size: 1.2em;
    }

    .meetup-description {
        font-size: .8em;
    }
}
